*.o
*.lo
*.swp
/src/.deps/
/src/.libs
/config.h
/stamp-h1
/src/Makefile
/src/Makefile.in
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/libunibreak.pc
/ltmain.sh
/missing
/src/libunibreak.la
/src/LineBreak.txt
/src/WordBreakProperty.txt
/src/filter_dup
/build/
